body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
}
.background-page {
  background-image: url(images/foodbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border-radius: 10px;
}
section {
  display: flex;
}
span {
  color: rgb(255, 165, 0);
  font-size: 50px;
}
h1 {
  font-size: 30px;
}
#time {
  color: rgb(22, 7, 241);
  font-size: 15px;
  font-weight: 700;
}
p {
  color: black;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 6%;
}
.food-width {
  width: 50%;
  margin: 3%;
  text-align: center;
  padding: 5px;
}
.food-width img {
  width: 90%;
  height: auto;
  margin: 2%;
  padding: 5px;
  border-radius: 40px;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(rgba(253, 0, 63, 0.705), rgb(4, 88, 1));
  color: white;
  padding: 10px 10px;
  margin-left: 20px;
  border-radius: 20px;
}
.background-page2 {
  background-image: linear-gradient(
    rgba(177, 127, 127, 0.609),
    rgba(155, 155, 151, 0.781)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border-radius: 10px;
}
h3 {
  color: black;
  text-align: center;
}
.background-page3 {
  background-image: linear-gradient(
    rgba(143, 57, 122, 0.397),
    rgba(172, 169, 171, 0.623)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border-radius: 10px;
}
.background-page4 {
  background-image: linear-gradient(
    rgba(174, 138, 190, 0.438),
    rgba(95, 60, 60, 0.061)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border-radius: 10px;
  padding-bottom: 5%;
}
.my-food {
  text-align: center;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
.food {
  width: 60%;
  margin-left: 3%;
  margin-right: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
  box-shadow: 10px 20px 30px gray;
}
#fooditem {
  border-left: 5px solid;
  border-image: linear-gradient(rgb(2, 97, 7), tomato);
  border-image-slice: 1;
}
footer {
  height: 100px;
  background-image: linear-gradient(darkgrey, skyblue);
  text-align: center;
  padding-top: 30px;
  border-radius: 10px;
}
